<a href="/" class="btn btn-home"><i class="icon-home icon-black"></i> Main page</a>
<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th scope="col">Name</td>
			<th scope="col">Date</td>
			<th scope="col">Size</td>
			<th scope="col">Download</td>
		</tr>
	</thead>	
	<tbody>
	<repeat group="{{ @list }}" value="{{ @file }}">
		<tr>
			<td>{{ @file.title }}</td>
			<td>{{ @file.timestamp }}</td>
			<td>{{ @file.size }}</td>
			<td><a href="/{{ @UPLOADS }}{{ @file.path }}" class="btn btn-download" download><i class="icon-download icon-black"></i> Download</a></td>
		</tr>
	</repeat>
	</tbody>
</table>