#in-the-middle-of-page{
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%
}

#page-header{
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eee;
}

#content{
  padding: 10px;
}

#thumbnail{
  padding-bottom: 10px;
}

#actions{
  padding-bottom: 10px;
}

.btn-download:hover,
.btn-download:focus,
.btn-download:active,
.btn-download.active,
.btn-download.disabled,
.btn-download[disabled] {
  color: #fff;
  background-color: #363d48;
  *background-color: #d9d9d9;
}

.btn-download:active,
.btn-download.active {
  background-color: #cccccc;
}

#h1-a{
  color: #333;
}

#h1-a:hover{
  color: #005580;
}

#upload-form-wrap{
  margin: 20px 0 20px 0;
  text-align: center; 
}

#column-header{
  border: 1px solid #EEE;
  border-bottom: 0;
  height: 30px;
  margin: 10px 10px 0 10px;
  padding: 0px 0 0px 15px;
  background-color: whitesmoke;
  font-weight: bold;
  line-height: 28px;
  vertical-align: middle;
  width: 50%;
}

#column {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  border: 1px solid #EEE;
  border-top: 0;
  margin: 0 10px 10px 10px;
  padding: 0 0 0 15px;
  width: 50%;
}

#ul {
  padding: 15px;
}

#navbar #brand {
display: block;
float: left;
padding: 10px 20px 10px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
color: #fff;
}

#navbar-inner {
min-height: 42px;
padding-right: 20px;
padding-left: 20px;
background-color: #fafafa;
background-image: -moz-linear-gradient(top, #2d333c, #454e5c);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d333c), to(#454e5c));
background-image:repeat: repeat-x;
-webkit-lineaborder-gradient(top, #2d333c, #454e5c)us: 4px;
background-image: -o-linea -moz-border-gradient(top, #2d333c, #454e5c);
background-image: linear-gradient(to bottom, #2d333c, #454e5c); 
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
*zoom: 1;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

#nav {
margin-bottom: 22px;
margin: 0;
list-style: none;
}

.btn-large {
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #363d48;
background-image: -moz-linear-gradient(top, #2d333c, #454e5c);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d333c), to(#454e5c));
background-image: -webkit-linear-gradient(top, #2d333c, #454e5c);
background-image: -o-linear-gradient(top, #2d333c, #454e5c);
background-image: linear-gradient(to bottom, #2d333c,#454e5c);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF2D333C, endColorstr=#FF454E5C, GradientType=0);
border-color: #454e5c #454e5c #242930;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) fadein(rgba(0,0,0,0.1), 15%);
color: white;
width: 150px;
padding: 9px 0px;
text-align: center; 
}

#navbar #brand:hover,
#navbar #brand:focus {
  text-decoration: none;
}

.navbar {
  *position: relative;
  *z-index: 2;
  overflow: visible;
}